{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block librinfo_varietycode_widget %}
    {% spaceless %}
        {% set uniqid = sonata_admin.admin.uniqid %}
        {% if sonata_admin.admin.subject.isStrain == true%}
            {% set type = 'strain' %}
        {% else %}
            {% set type = 'variety' %}
        {% endif %}

        {{ block('form_widget') }}    
        <a href="{{ path('librinfo_varieties_generate_code', {'type': type}) }}" id="generator_{{ uniqid }}" data-type="{{ type }}">
            {% trans %}librinfo.label.generate_variety_code{% endtrans %}
        </a>
    {% endspaceless %}
    <script>
        $(document).ready(function () {

            $('#generator_{{ uniqid }}').click(function () {

                var id;
                var url;
                var strain = $(this).attr('data-type') == 'strain';

                if (strain) {
                    id = $('#{{ uniqid }}_parent').val();
                } else {
                    id = $('#{{ uniqid }}_species').val();
                }

                url = $(this).prop('href') + '?id=' + id;

                $.get(url, function (data) {
                    var code = $('#{{ uniqid }}_name').val();

                    if (strain)
                        code = data.code + '-' + code.substring(0, 2);
                    else
                        code = data.code + '-' + code.substring(0, 3);

                    $('#{{ id }}').val(code.toLowerCase());
                });

                return false;
            });
        });

    </script>
{% endblock %}

